[Messages Control]
# C0111: Don't require docstrings on every method
# W0511: TODOs in code comments are fine.
# W0142: *args and **kwargs are fine.
# W0622: Redefining id is fine.
# R0902: Too many instance attributes 
disable=C0111,W0511,W0142,W0622,R0902
method-rgx=([a-z_][a-z0-9_]{2,30}|setUp|tearDown)$
no-docstring-rgx=((__.*__)|([tT]est.*)|setUp|tearDown)$

[Design]
max-public-methods=100
min-public-methods=0
max-args=10
