# Global Configuration

[pyhole]
admin: nick!ident
command_prefix: .
reconnect_delay: 60
rejoin_delay: 5
cache: /tmp/pyhole/cache
debug: False

[Redmine]
domain: redmine.example.com
key: abcd1234

# IRC Network Configuration

[FreeNode]
server: irc.freenode.net
password:
port: 6667
ssl: False
nick: mynick
channels: #mychannel key, #mychannel2

[EFnet]
server: irc.efnet.net
password:
port: 6667
ssl: False
nick: mynick
channels: #mychannel key, #mychannel2
